
<title>clinician-dashboard</title>
<link rel="stylesheet" type="text/css" href="/public/css/clinician-dashboard.css">
<link rel="icon" href="/public/images/favicon-1.png">
<script src="https://kit.fontawesome.com/76a0594e6c.js" crossorigin="anonymous"></script>

<div>
    <div id = "background"> 1 </div>
    <section id = "navbar">
        <img id="favicon" src="/public/images/favicon.png" >
        <section id = "dashboard">
            <i class="fa-solid fa-house-user fa-3x"></i>
            <div id = "dashboard_w"> Dashboard</div>
        </section>
        <section id = "comment">
            <i class="fa-solid fa-message fa-3x"></i>
            <div id = "comment_w"> comment</div>
        </section>
        <section id = "new_patient">
            <i class="fa-solid fa-address-book fa-3x"></i>
            <div id = "new_patient_w"> Add New Patient</div>
        </section>
         <section id = "go_back">
            <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
            <div id = "go_back_w"> Sign Out</div>
        </section>
    </section>
    <section id = "info_part">
            <img id="photo" src="/public/images/docotr_photo.png" >
            <div id = "edit">Edit Profile</div>
            <br></br>
            <section id = "detail">
            <h1 id = "username"> Username:     {{this.doctor_username}}</h1>
            <h1 id = "fullname"> Full Name:     {{this.doctor_fullname}}</h1>
            <h1 id = "phone"> Phone:    {{this.doctor_phone}}</h1>
            <h1 id = "email"> Email:      {{this.doctor_email}}</h1>
            </section>
    </section>



    <section id = "data">
        <section id = icon>
        <i class="fa-solid fa-magnifying-glass"></i>
        </section>
        <table id = "record">
            <h1 id = 'search'>Search By Name or ID...</h1>
            <h6 id = "date">27/04/2022</h6>
            <tr>
              <th>Patient ID</th>
              <th>Patient Name</th>
              <th>Gender</th>
              <th>Blood glucose Level</th>
              <th>Weight</th>
              <th>Dose of insulin taken</th>
              <th>Exercise</th>
            </tr>
            
            <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.gender}}</td>
                <td id = "warning">{{this.blood}} </td>
                <td>{{this.weight}}</td>
                <td>{{this.dose}}</td>
                <td>{{this.exercise}}</td>
            </tr>
            
          </table>
          

    </section>
</div>