
<title>clinician-dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/clinician-patient-info.css">
<script src="https://kit.fontawesome.com/76a0594e6c.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/clincian-patient-info.js"></script>

{{> clinician-navbar}}

</section>
    <section class = info>
        <img id = "photo" src="/images/patient.png">
            <br></br>
        <h1 id = "username"> Username:{{patient.username}}</h1>
        <h1 id = "fullname"> Full Name:{{patient.firstname}} {{patient.lastname}}</h1>
        <h1 id = "phone"> Phone:{{patient.phone}}</h1>
        <h1 id = "email"> Email:{{patient.email}}</h1>
    </section>
</section>
<section class="data">
    <h3 id ="date">{{date}}</h3>
    <table id = "blood">
        <tr>
            <th>Blood glucose level (in nmol/L)</th>
            <th>Record Time</th>
            <th>Required</th>
            <th>Threshold MIN.</th>
            <th>Threshold MAX.</th>
        </tr>
        <tr>
            <td>{{record.bloodGlucoseLevelData}}</td>
            <td>{{#toMelbourneTime record.bloodGlucoseLevelTime}}{{/toMelbourneTime}}</td>
            <td>{{patient.management.bloodGlucoseLevel.required}}</td>
            <td>{{patient.management.bloodGlucoseLevel.upperThreshold}}</td>
            <td>{{patient.management.bloodGlucoseLevel.lowerThreshold}}</td>
        </tr>
    </table>
    <section class="comment_p">
        <p>Comment: {{record.bloodGlucoseLevelComment}}</p>
    </section>
    <table id = "weight">
        <tr>
            <th>Weight (kg)</th>
            <th>Record Time</th>
            <th>Required</th>
            <th>Threshold MIN.</th>
            <th>Threshold MAX.</th>
        </tr>
        <tr>
            <td>{{record.weightData}}</td>
            <td>{{#toMelbourneTime record.weightTime}}{{/toMelbourneTime}}</td>
            <td>{{patient.management.weight.required}}</td>
            <td>{{patient.management.weight.upperThreshold}}</td>
            <td>{{patient.management.weight.lowerThreshold}}</td>
        </tr>
    </table>
    <section class="comment_p">
        <p>Comment: {{record.weightComment}}</p>
    </section>
    <table id = "dose">
        <tr>
            <th>Dose of insulin taken (# doses)</th>
            <th>Record Time</th>
            <th>Required</th>
            <th>Threshold MIN.</th>
            <th>Threshold MAX.</th>
        </tr>
        <tr>
            <td>{{record.doesesOfInsulinTakenData}}</td>
            <td>{{#toMelbourneTime record.doesesOfInsulinTakenTime}}{{/toMelbourneTime}}</td>
            <td>{{patient.management.doesesOfInsulinTaken.required}}</td>
            <td>{{patient.management.doesesOfInsulinTaken.upperThreshold}}</td>
            <td>{{patient.management.doesesOfInsulinTaken.lowerThreshold}}</td>
        </tr>
    </table>
    <section class="comment_p">
        <p>Comment: {{record.doesesOfInsulinTakenComment}}</p>
    </section>
    <table id = "exercise">
        <tr>
            <th>Exercise (steps)</th>
            <th>Record Time</th>
            <th>Required</th>
            <th>Threshold MIN.</th>
            <th>Threshold MAX.</th>
        </tr>
        <tr>
            <td>{{record.exerciseData}}</td>
            <td>{{#toMelbourneTime record.exerciseTime}}{{/toMelbourneTime}}</td>
            <td>{{patient.management.exercise.required}}</td>
            <td>{{patient.management.exercise.upperThreshold}}</td>
            <td>{{patient.management.exercise.lowerThreshold}}</td>
        </tr>
    </table>
    <section class="comment_p">
        <p>Comment: {{record.exerciseComment}}</p>
    </section>
    <h3>Patient management</h3>
    <form method="POST" action="/clinician/patient-management">
		<input type="hidden" name="patientID" value={{patient._id}}>
		<label for="type">Title:</label>
		<select name="type">
  			<option value="bloodGlucoseLevel">bloodGlucoseLevel</option>
  			<option value="weight">weight</option>
  			<option value="doesesOfInsulinTaken">doesesOfInsulinTaken</option>
  			<option value="exercise">exercise</option>
		</select>
		<label for="required">Required:</label>
        <select name="required">
  			<option value="true">True</option>
  			<option value="false">False</option>
		</select>
		<label for="upperThreshold">Upper:</label>
		<input type="number" name="upperThreshold"/>
		<label for="lowerThreshold">Lower:</label>
		<input type="number" name="lowerThreshold"/>
		<button>Edit</button>
	</form> 
    <section class = "note">
        <h1>Clincian Note</h1>
        <input type ="textbox" id="note-c" name="note">
        {{!-- <button id="add-new-note" onclick="show()">Add New Note</button> --}}
        <p id = "demo"></p>
        <h1 id="support-message">Support Message</h1>
        <form method="POST" action="/clinician/support-message/{{patient._id}}">
            <input type="textbox" id="supportmessage" name="supportMessage" value={{patient.management.supportMessage}}>
            <button type="submit" id=confirm>Update</button>
        </form>
    </section>

</section>
<script type="text/javascript" src="/js/password-check.js"></script>
        <button id="rpBtn">Adding new note</button>
        <button id="outBtn">Sign Out</button>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Adding New Note</h2>
            </div> 
            <div>
                <input type="textbox" id="note-input" id="note" value={{}}>
            </div>
            <div class ="commentBtn">
                <button id="commentDis">Discard</button>
                <input id="commentCon" class="submit" type="Submit" value="Confirm"/>
            </div>
        </div>

<script type="text/javascript" src="/js/clincian-patient-info.js"></script>