<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/css/clinician-comment.css">
<link rel="icon" href="/images/favicon.png">
<div>
    {{> clinician-navbar}}
        <section class ="patient-comment">
            <p id = "hearder">Rencent Comments:</p>
            {{#each comments}}
                <section id="user">
                    <p id="name"><i class="fa-solid fa-comment" style="color:red;"></i><a href="/clinician/patient-info/{{this.patientID._id}}?date={{#dateToString this.time}}{{/dateToString}}">{{this.patientID.firstname}} {{this.patientID.lastname}} ({{this.patientID.username}})</a></p>
                    <h6 id="time">{{#toMelbourneTime this.time}}{{/toMelbourneTime}}</h6>
                    <p id ="subject"><i class="fa-solid fa-star" style="color:#2763A7;"></i>{{this.type}}: {{this.data}}</p>
                    <p id="sentence">{{this.comment}}</p>
                </section>
            {{/each}}
        </section>
</div>