
<title>clinician-dashboard</title>
<link rel="stylesheet" type="text/css" href="/css/clinician-dashboard.css">
<link rel="icon" href="/images/favicon.png">
<script src="https://kit.fontawesome.com/76a0594e6c.js" crossorigin="anonymous"></script>

<div>
    {{> clinician-navbar}}
    <section id="info_part">
      <img id="photo" src="/images/docotr_photo.png" >
    
      <br></br>
      <section id = "detail">
        <h1 id="fullname"> Full Name:{{clinician.firstname}} {{clinician.lastname}}</h1>
        <h1 id="phone"> Phone:{{clinician.phone}}</h1>
        <h1 id="email"> Email:{{clinician.email}}</h1>
      </section>
    </section>
    <section id="data">
        <section id="icon">
        <i class="fa-solid fa-magnifying-glass"></i>
        </section>
        <table id="record">
            <h1 id="search">Search By Name or ID...</h1>
            <h6 id="date">{{date}}</h6>
            <tr>
              <th>Patient Name</th>
              <th>Gender</th>
              <th>Blood glucose Level</th>
              <th>Weight</th>
              <th>Dose of insulin taken</th>
              <th>Exercise</th>
            </tr>
            {{#each patients}}
              <tr>
                <td><a href="/clinician/patient-info/{{this.patient._id}}">{{this.patient.firstname}} {{this.patient.lastname}}</a></td>
                <td>{{this.patient.gender}}</td>
                {{#checkThreshold this.record.bloodGlucoseLevelData this.patient.management.bloodGlucoseLevel.required}}{{/checkThreshold}}
                {{#checkThreshold this.record.weightData this.patient.management.weight.required}}{{/checkThreshold}}
                {{#checkThreshold this.record.doesesOfInsulinTakenData this.patient.management.doesesOfInsulinTaken.required}}{{/checkThreshold}}
                {{#checkThreshold this.record.exerciseData this.patient.management.exercise.required}}{{/checkThreshold}}
              </tr>
             {{/each}}
          </table>
    </section>
</div>