<link rel="stylesheet" type="text/css" href= "/css/rank.css">
<script src="https://kit.fontawesome.com/74c293aa5a.js" crossorigin="anonymous"></script>

{{> patient-navbar}}
<div id="main">
    <div id="twrBg">
        <H1 id="twr">Top 5 Ranking</H1>
    </div>
    <div class="aboveRank">
        <h3>Place</h3>
        <h3>Username</h3>
        <h3>Score</h3>
    </div>
    <div class="bgcolor">
        <i class="fa-solid fa-medal fa-2x" style="color:#cdd102;"></i>
        <h2>{{rank.0.username}}</h2>
        <h2>{{rank.0.record}}</h2>
    </div>

    <div class="bgcolor">
        <i class="fa-solid fa-medal fa-2x" style="color:#c4c4c4;"></i>
        <h2>{{rank.1.username}}</h2>
        <h2>{{rank.1.record}}</h2>
    </div>

    <div class="bgcolor">
        <i class="fa-solid fa-medal fa-2x" style="color:#c88400;"></i>
        <h2>{{rank.2.username}}</h2>
        <h2>{{rank.2.record}}</h2>
    </div>

    <div class="bgcolor">
        <h1 style="color:#54c3ca ;">&nbsp; 4</h1>
        <h2>{{rank.3.username}}</h2>
        <h2>{{rank.3.record}}</h2>
    </div>

    <div class="bgcolor">
        <h1 style="color:#54c3ca ;">&nbsp; 5</h1>
        <h2>{{rank.4.username}}</h2>
        <h2>{{rank.4.record}}</h2>
    </div>
</div>