<link rel="stylesheet" type="text/css" href= "/css/patient-dashboard.css">


<body>
    {{> patient-navbar}}

    <section class="mobile-dashboard">
    <div class="table-message">
        <h1 id="mobile-messName"><i class="fa-solid fa-comment-medical fa-2x"></i>Message</h1>
        <p id="mess">{{patient.management.supportMessage}}</p >
    </div>
    <div class="table-stat">
        <h1 id="statName"><i class="fa-solid fa-database fa-2x"></i>Statistics</h1>
    </div>

    <a href="/patient/rank">
    <div class="table-rank">
        <h1 id="rankName"><i class="fa-solid fa-ranking-star fa-2x"></i></i>Rank</h1>
    </div>
    </a>

    <a href="/patient/record">
    <div class="table-record-m">
        <h1 id="recordName"><i class="fa-solid fa-calendar-check fa-2x"></i></i>Record</h1>
    </div>
    </a>

    <div class="table-right-m">
        <table>
            <tr>
                <th>DATE</th>
                <th>Blood glucose level</th>
                <th>Weight</th>
                <th>Dose of insulin taken</th>
                <th>Exercise</th>
            </tr>
            <tr>
                <td>{{date}}</td>
                {{#checkThreshold record.bloodGlucoseLevelData patient.management.bloodGlucoseLevel}}{{/checkThreshold}}
                {{#checkThreshold record.weightData patient.management.weight}}{{/checkThreshold}}
                {{#checkThreshold record.doesesOfInsulinTakenData patient.management.doesesOfInsulinTaken}}{{/checkThreshold}}
                {{#checkThreshold record.exerciseData patient.management.exercise}}{{/checkThreshold}}
            </tr>
        </table>
    </div>
    </section>

    <section class="table-dashboard">
    <div class="table-message">
        <h1 id="messName_s"><i class="fa-solid fa-comment-medical fa-2x"></i>Message</h1>
    </div>
    <div class="table-stat">
        <h1 id="statName"><i class="fa-solid fa-database fa-2x"></i>Statistics</h1>
    </div>

    <a href="/patient/rank">
    <div class="table-rank">
        <h1 id="rankName"><i class="fa-solid fa-ranking-star fa-2x"></i></i>Rank</h1>
    </div>
    </a>

    <a href="/patient/record">
    <div class="table-record">
        <h1 id="recordName"><i class="fa-solid fa-calendar-check fa-2x"></i></i>Record</h1>
    </div>
    </a>

    <div class="table-right">
        <table>
            <tr>
                <th>DATE</th>
                <th>Blood glucose level</th>
                <th>Weight</th>
                <th>Dose of insulin taken</th>
                <th>Exercise</th>
            </tr>
            <tr>
                <td>{{date}}</td>
                {{#checkThreshold record.bloodGlucoseLevelData patient.management.bloodGlucoseLevel}}{{/checkThreshold}}
                {{#checkThreshold record.weightData patient.management.weight}}{{/checkThreshold}}
                {{#checkThreshold record.doesesOfInsulinTakenData patient.management.doesesOfInsulinTaken}}{{/checkThreshold}}
                {{#checkThreshold record.exerciseData patient.management.exercise}}{{/checkThreshold}}
            </tr>
        </table>
    </div>
    </section>





    <section class="desktop-dashboard">
    <div class="message">
        <p id="message">{{patient.management.supportMessage}}</p >
    </div>
    <div class="desk-messHead">
        <h1 id="messName">Message</h1>
        <i class="fa-solid fa-comment-medical fa-4x" style="color: #FFFFFF;position: absolute;left: 20px;"></i>
    </div>
    <div class="desktop-statistic">
        <i class="fa-brands fa-hackerrank fa-9x" style="color: #FFFFFF;position: absolute;left:50px;top:15px;"></i>
        <p id="stat">Statistic</p >
    </div>

    <a href="/patient/rank">
    <div class="desk-rank">
        <i class="fa-brands fa-hackerrank fa-9x" style="color: #FFFFFF;position: absolute;left:50px;top:15px;"></i>
        <p id="ran">Rank</p >
    </div>
    </a>
    
    <!--desktop table-->
    <div class="right">
        <table>
            <tr>
                <th>DATE</th>
                <th>Blood glucose level</th>
                <th>Weight</th>
                <th>Dose of insulin taken</th>
                <th>Exercise</th>
            </tr>
            <tr>
                <td>{{date}}</td>
                {{#checkThreshold record.bloodGlucoseLevelData patient.management.bloodGlucoseLevel}}{{/checkThreshold}}
                {{#checkThreshold record.weightData patient.management.weight}}{{/checkThreshold}}
                {{#checkThreshold record.doesesOfInsulinTakenData patient.management.doesesOfInsulinTaken}}{{/checkThreshold}}
                {{#checkThreshold record.exerciseData patient.management.exercise}}{{/checkThreshold}}
            </tr>
        </table>
        {{#if message}}
            <div style="color:red;text-align:center;">{{message}}</div>
        {{/if}}

        <i class="fa-solid fa-medal fa-8x" style="color: red;"></i>

    </div>
    <!--desktop record-->
    <a href="/patient/record">
    <div class="desk-record">
        <i class="fa-solid fa-calendar-check fa-4x" style="color: #FFF8F8;position: absolute;left:30px;top: 10px;"></i>
        <p id="reco">Record</p >
    </div>
    </a>
    </section>