 <link rel="stylesheet" type="text/css" href= "/css/patient-record.css">
<script src="https://kit.fontawesome.com/74c293aa5a.js" crossorigin="anonymous"></script>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->


    {{> patient-navbar}}

    <div class="shu">


        <div class = date>
            <h2>{{date}}</h2>
        </div>

        <div class="blood">
            <div class="bloodcolor">
                <label for="data" class="bloodtext">Blood Glucose Level</label>
            </div>
            <form action="/patient/add-data/bloodGlucoseLevel" method="POST">
                <label for="data">Data</label>
                <input type="number" name="data" value="{{record.bloodGlucoseLevelData}}"/>
                <input type="submit" value="Submit"/>
            </form>
            <form action="/patient/add-comment/bloodGlucoseLevel" method="POST">
                <label for="data">Comment:</label>
                <input type="text" name="data" value="{{record.bloodGlucoseLevelComment}}"/>
                <input type="submit" value="Submit"/>
            </form>
         </div>

         <div>&nbsp;&nbsp;</div>
    
         <div class="weight">
            <div class="weightcolor">
                <label for="data" class="weighttext">Wieght</label>
            </div>
            <form action="/patient/add-data/weight" method="POST">
                <label for="data">Data:</label>
                <input type="number" name="data" value="{{record.weightData}}"/>
                <input type="submit" value="Submit"/>
            </form>
            <form action="/patient/add-comment/weight" method="POST">
	            <label for="data">Comment:</label>
	            <input type="text" name="data" value="{{record.weightComment}}"/>
	            <input type="submit" value="Submit"/>
            </form>
          </div>
    
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
     
          <div class="dose">
            <div class="dosecolor">
                <label for="data" class="dosetext">Doeses Of Insulin Taken</label>
            </div>
            <form action="/patient/add-data/doesesOfInsulinTaken" method="POST">
                <label for="data">Data:</label>
                <input type="number" name="data" value="{{record.doesesOfInsulinTakenData}}"/>
                <input type="submit" value="Submit"/>
            </form>
            <form action="/patient/add-comment/doesesOfInsulinTaken" method="POST">
                <label for="data">Comment</label>
                <input type="text" name="data" value="{{record.doesesOfInsulinTakenComment}}"/>
                <input type="submit" value="Submit"/>
            </form>
          </div>
    
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
     
          <div class="exercise">
            <div class="excolor">
                <label for="data" class="exercise">Exercise</label>
            </div>
            <form action="/patient/add-data/exercise" method="POST">
                <label for="data">Data:</label>
                <input type="number" name="data" value="{{record.exerciseData}}"/>
                <input type="submit" value="Submit"/>
            </form>
            <form action="/patient/add-comment/exercise" method="POST">
                <label for="data">Comment:</label>
                <input type="text" name="data" value="{{record.exerciseComment}}"/>
                <input type="submit" value="Submit"/>
            </form>          
        </div>

        <a href="/patient/dashboard">BACK</a>