<link rel="stylesheet" type="text/css" href= "/css/patient-profile.css">
<script src="https://kit.fontawesome.com/74c293aa5a.js" crossorigin="anonymous"></script> 
<script type="text/javascript" src="/js/password-check.js"></script>

{{> patient-navbar}}

<div id="main">
    {{#if message}}
        <div style="color:red;text-align:center;" class="">{{message}}</div>
    {{/if}}
    <div class="info">
        <button id="rpBtn">Reset Password</button>
        <button id="outBtn">Sign Out</button>
    </div>

    <div class="info">
        <h2>Username:</h2>
        <h2>{{patient.username}}</h2>
    </div>

    <div class="info">
        <h2>First Name:</h2>
        <h2>{{patient.firstname}}</h2>
    </div>

    <div class="info">
        <h2>Last Name:</h2>
        <h2>{{patient.lastname}}</h2>
    </div>

    <div class="info">
        <h2>Email:</h2>
        <h2>{{patient.email}}</h2>
    </div>

    <div class="info">
        <h2>Date Of Birth:</h2>
        <h2>{{patient.yearBorn}}</h2>
    </div>

    <div class="info">
        <h2>Bio:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        <p>{{patient.biography}}</p>
    </div>
    <!-- 弹窗 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Reset Password</h2>
            </div> 
            <form action="/patient/reset-password" method="POST">
                <div id="warning"></div>
                <div class="newPassword"> 
                    <label for="oldPassword">Old Password:</label>
                    <input type="password" name="oldPassword" required/>
                </div>
                <div class="newPassword"> 
                    <label for="newPassword">New Password:</label>
                    <input id="password" type="password" name="newPassword" minlength="8" onkeyup="check()" required/>
                </div> 
                <div class="newPassword"> 
                    <label for="confirmPassword">Confirm Password:</label>
                    <input id="password-confirm" type="password" name="confirmPassword" minlength="8" onkeyup="check()" required/>
                </div> 
                <div class ="commentBtn">
                    <button id="commentDis">Discard</button>
                    <input id="commentCon" class="submit" type="Submit" value="Confirm"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/patient-profile.js"></script>