<link rel="stylesheet" type="text/css" href= "/css/patient-dashboard.css">

<body>
    {{> patient-navbar}}

    <!--Mobile dashboard-->
    <section class="mobile-dashboard">
    <div>
        <p id="mobile-rate">Engagement Rate: {{rate}}%</p>
        {{#compare rate "gt" 80}}
        <i class="fa-solid fa-medal fa-8x" id="mobile-medal"></i>
        {{/compare}}
    </div>

    <div class="table-message">
        <h1 id="mobile-messName"><i class="fa-solid fa-comment-medical fa-2x"></i>Message</h1>
        <p id="mess">{{patient.management.supportMessage}}</p >
    </div>

    <div class="table-stat">
        <a id="link" href="/patient/staistics">
        <h1 id="statName"><i class="fa-solid fa-database fa-2x"></i>Statistics</h1>
        </a>
    </div>

    <div class="table-rank">
    <a id="link" href="/patient/rank">
        <h1><i class="fa-solid fa-ranking-star fa-2x"></i></i>Rank</h1>
    </a>
    </div>

    <div class="table-record-m">
    <a id="link" href="/patient/record">
        <h1 id="recordName"><i class="fa-solid fa-calendar-check fa-2x"></i>Record</h1>
    </a>   
    </div>
    
    {{#if message}}
        <div style="color:red;text-align:center;">{{message}}</div>
    {{/if}}

    <div>
        <form method="GET" action="/patient/dashboard">
            <input type="date" id="mobile-start" name="date" min="2022-01-01" max="2099-12-31">
            <button type="submit" id="mobile-view">View</button>
        </form>
    </div>

    <div class="table-right-m">
        <table>
            <tr>
                <th>DATE</th>
                <th>Blood glucose level</th>
                <th>Weight</th>
                <th>Dose of insulin taken</th>
                <th>Exercise</th>
            </tr>
            <tr>
                <td>{{date}}</td>
                {{#checkThreshold record.bloodGlucoseLevelData patient.management.bloodGlucoseLevel.required}}{{/checkThreshold}}
                {{#checkThreshold record.weightData patient.management.weight.required}}{{/checkThreshold}}
                {{#checkThreshold record.doesesOfInsulinTakenData patient.management.doesesOfInsulinTaken.required}}{{/checkThreshold}}
                {{#checkThreshold record.exerciseData patient.management.exercise.required}}{{/checkThreshold}}
            </tr>
        </table>
    </div>
    </section>

    <!--Tablet dashboard-->
    <section class="table-dashboard">
    <div class="table-message">
        <i class="fa-solid fa-comment-medical fa-2x"></i>
        <h1 id="messName_s">Message</h1>
    </div>

    <div class="table-stat">
    <a id="link" href="/patient/statistics">
        <h1 id="statName"><i class="fa-solid fa-database fa-2x"></i>Statistics</h1>
    </a>
    </div>

    <div class="table-rank">
    <a id="link" href="/patient/rank">
        <h1 id="rankName"><i class="fa-solid fa-ranking-star fa-2x"></i></i>Rank</h1>
    </a>
    </div>

    <div class="table-record">
    <a id="link" href="/patient/record">
        <h1 id="tablet-recordName"><i class="fa-solid fa-calendar-check fa-2x"></i></i>Record</h1>
    </a>
    </div>

    <div>
        <form method="GET" action="/patient/dashboard">
            <input type="date" id="tablet-start" name="date" min="2022-01-01" max="2099-12-31">
            <button type="submit" id="tablet-view">View</button>
        </form>
    </div>

    <div class="table-right">
        <table>
            <tr>
                <th>DATE</th>
                <th>Blood glucose level</th>
                <th>Weight</th>
                <th>Dose of insulin taken</th>
                <th>Exercise</th>
            </tr>
            <tr>
                <td>{{date}}</td>
                {{#checkThreshold record.bloodGlucoseLevelData patient.management.bloodGlucoseLevel.required}}{{/checkThreshold}}
                {{#checkThreshold record.weightData patient.management.weight.required}}{{/checkThreshold}}
                {{#checkThreshold record.doesesOfInsulinTakenData patient.management.doesesOfInsulinTaken.required}}{{/checkThreshold}}
                {{#checkThreshold record.exerciseData patient.management.exercise.required}}{{/checkThreshold}}
            </tr>
        </table>
    </div>
    </section>

    <!--Desktop dashboard-->
    <section class="desktop-dashboard">
    <div>
        <p id="desk-rate">Engagement Rate: {{rate}}%</p>
        {{#compare rate "gt" 80}}
        <i class="fa-solid fa-medal fa-8x" id="desk-medal"></i>
        {{/compare}}
    </div>
    <div class="message">
        <p id="message">{{patient.management.supportMessage}}</p >
    </div>
    <div class="desk-messHead">
        <h1 id="messName">Message</h1>
        <i class="fa-solid fa-comment-medical fa-4x" style="color: #FFFFFF;position: absolute;left: 20px;"></i>
    </div>

    <a href="/patient/statistics">
    <div class="desktop-statistic">
        <i class="fa-brands fa-hackerrank fa-9x" style="color: #FFFFFF;position: absolute;left:50px;top:15px;"></i>
        <p id="stat">Statistic</p >
    </div>
    </a>

    <a href="/patient/rank">
    <div class="desk-rank">
        <i class="fa-brands fa-hackerrank fa-9x" style="color: #FFFFFF;position: absolute;left:50px;top:15px;"></i>
        <p id="ran">Rank</p >
    </div>
    </a>

    <div class="right">

        <div>
        <form method="GET" action="/patient/dashboard">
            <input type="date" id="desk-start" name="date" min={{#dateToString patient.registered}}{{/dateToString}} max={{#dateToString "today"}}{{/dateToString}}>
            <button type="submit" id="desk-view">View</button>
        </form>
        </div>

        <table>
            <tr>
                <th>DATE</th>
                <th>Blood glucose level</th>
                <th>Weight</th>
                <th>Dose of insulin taken</th>
                <th>Exercise</th>
            </tr>
            <tr>
                <td>{{date}}</td>
                {{#checkThreshold record.bloodGlucoseLevelData patient.management.bloodGlucoseLevel}}{{/checkThreshold}}
                {{#checkThreshold record.weightData patient.management.weight}}{{/checkThreshold}}
                {{#checkThreshold record.doesesOfInsulinTakenData patient.management.doesesOfInsulinTaken}}{{/checkThreshold}}
                {{#checkThreshold record.exerciseData patient.management.exercise}}{{/checkThreshold}}
            </tr>
        </table>
        {{#if message}}
            <div style="color:red;text-align:center;">{{message}}</div>
        {{/if}}
    </div>
    <!--desktop record-->
    <a href="/patient/record">
    <div class="desk-record">
        <i class="fa-solid fa-calendar-check fa-4x" style="color: #FFF8F8;position: absolute;left:30px;top: 10px;"></i>
        <p id="reco">Record</p >
    </div>
    </a>
    </section>