<h1>Home</h1>
<a href="/login">be clinician/patient</a>
<h2>Clinicians</h2>
<ul>
{{#each clinicians}}
    <li>{{this.firstname}} {{this.lastname}} - {{this.email}} (#{{this._id}})</li>
{{/each}}
</ul>
<h2>Patients</h2>
<ul>
{{#each patients}}
    <li>{{this.firstname}} {{this.lastname}} - {{this.email}} (#{{this._id}})</li>
{{/each}}
</ul>
<h2>Create New Clinician</h2>
<form method="POST" action="/clinician/create-clinician">
	<label for="email">email:</label>
	<input type="text" name="email"/><br>
    <label for="password">password:</label>
	<input type="password" name="password"/><br>
    <label for="firstname">firstname:</label>
	<input type="text" name="firstname"/><br>
    <label for="lastname">lastname:</label>
	<input type="text" name="lastname"/><br>
    <label for="phone">phone:</label>
	<input type="text" name="phone"/><br>
	<button>ADD</button> 
</form>
<h2>Create New Patient</h2>
<form method="POST" action="/clinician/create-patient">
	<label for="email">email:</label>
	<input type="text" name="email"/><br>
    <label for="password">password:</label>
	<input type="password" name="password"/><br>
    <label for="username">username:</label>
	<input type="text" name="username"/><br>
    <label for="firstname">firstname:</label>
	<input type="text" name="firstname"/><br>
    <label for="lastname">lastname:</label>
	<input type="text" name="lastname"/><br>
    <label for="phone">phone:</label>
	<input type="text" name="phone"/><br>
    <label for="gender">gender:</label>
	<input type="text" name="gender"/><br>
    <label for="yearBorn">yearBorn:</label>
	<input type="number" name="yearBorn"/><br>
	<button>ADD</button> 
</form>